.App {
  padding: 20px;
  max-width: 954px;
  width: 80%;
  margin: 2rem auto;
  box-sizing: border-box;
}
.App p{
  line-height: 2.4em;
  border-left: 2px solid #888888;
  padding-left: 10px;
  background-color: white;
  box-shadow: 1px 1px 2px 2px #eee;
}
.App p:hover{
  transform: scale(1.005);
}
.wrong{
  color: red;
  text-decoration-line: underline;
}